<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
  <div class="container">
    <a href="/index.html" class="navbar-brand">BS4 Starter</a>
    <button class="navbar-toggler navbar-toggler-right" data-toggle="collapse" data-target="#navbarCollapse">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item"><a href="/index.html" class="nav-link">Home</a></li>
        <li class="nav-item"><a href="/page/blog.html" class="nav-link">Blog</a></li>
        <li class="nav-item"><a href="/page/contact.html" class="nav-link">Contact</a></li>
        <li class="nav-item"><a href="/page/about.html" class="nav-link">About</a></li>
      </ul>
    </div>
  </div>
</nav>
