{% extends "layout.html" %}

{% block content %}

{% import 'macros/navbar.html' as nav %}
{{nav.active('home')}}

<header>
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h1>index.html</h1>
			</div>
		</div>
	</div>
</header>


{% endblock %}
